@import 'react-dates/lib/css/_datepicker.css';

.addAreaOfInterestModal {
    border: 1px dashed grey;
    /* margin: 2px; */
    flex-grow: 1;
    min-width: 20%;

}

/* .areaOfInterestList > .header {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: lightgreen;
} */

.createButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 18px;
	padding: 5px 10px;
    text-decoration:none;
    outline: none;
    float: right;
}
.createButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.createButton[disabled] {
	background-color:#ddd;
}
.createButton:active {
    position:relative;
    top:1px;
}

.fileList {
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
}

.loadingIndicators {
	/* margin-left: auto; */
	margin:auto;
	text-align:center;
	padding: 10px;
}

.css-0 {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}