@charset "utf-8";

@import '~fomantic-ui-css/semantic.min.css';

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

$active-selection: rgba(14, 111, 185, 0.25);

.tabs > ul > li > a {
  padding: 4px 10px;
  height: auto;
}

.tabs > ul {
  margin-bottom: 0px;
}

.ui.form .field {
  width: 100%;
}

.dropzone {
  min-height: 38px;
}
// div[role='slider'] {
//   position: 'absolute';
//   height: '1.5em';
//   width: '1.5em';
//   background: '#ffffff -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)))';
//   background: '#ffffff -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05))';
//   background: '#ffffff linear-gradient(transparent, rgba(0, 0, 0, 0.05))';
//   border-radius: '100%';
//   -webkit-box-shadow: '0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset';
//   box-shadow: '0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset';
//   margin: '0px';
//   z-index: 2;
//   transform: 'translate(-50%, 0%)';
// }
// .slider-handles:first-child :hover {
//   cursor: pointer;
//   background: #e21111 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
//   background: #e21111 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
//   background: #e21111 linear-gradient(transparent, rgba(0, 0, 0, 0.05));
// }

// // .slider-tracks {
// //   width: 100%;
// //   height: 8.4px;
// //   cursor: pointer;
// //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// //   background: #3071a9;
// //   border-radius: 1.3px;
// //   border: 0.2px solid #010101;
// // }

// // input[type='range'] {
// //   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
// //   width: 100%; /* Specific width is required for Firefox. */
// //   background: transparent; /* Otherwise white in Chrome */
// // }

// // input[type='range']::-webkit-slider-thumb {
// //   -webkit-appearance: none;
// // }

// // input[type='range']:focus {
// //   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// // }

// input[type='range']::-ms-track {
//   width: 100%;
//   cursor: pointer;

//   /* Hides the slider so custom styles can be added */
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }

// /* Special styling for WebKit/Blink */
// input[type='range']::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
//   margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
// }

// /* All the same stuff for Firefox */
// input[type='range']::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }

// /* All the same stuff for IE */
// input[type='range']::-ms-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }

// input[type='range']::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   background: #3071a9;
//   border-radius: 1.3px;
//   border: 0.2px solid #010101;
// }

// input[type='range']:focus::-webkit-slider-runnable-track {
//   background: #367ebd;
// }

// input[type='range']::-moz-range-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   background: #3071a9;
//   border-radius: 1.3px;
//   border: 0.2px solid #010101;
// }

// input[type='range']::-ms-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   background: transparent;
//   border-color: transparent;
//   border-width: 16px 0;
//   color: transparent;
// }
// input[type='range']::-ms-fill-lower {
//   background: #2a6495;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type='range']:focus::-ms-fill-lower {
//   background: #3071a9;
// }
// input[type='range']::-ms-fill-upper {
//   background: #3071a9;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type='range']:focus::-ms-fill-upper {
//   background: #367ebd;
// }

/* Main CSS file */

@import '_example/_example.css';

@import url('https://fonts.googleapis.com/css?family=Heebo:700|Source+Sans+Pro:300,400,400i,600,700');

* {
  box-sizing: border-box;
  margin: 0px;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

/* html,body {
   height: 100%;
   margin: 0;
   overflow: hidden;
} */

html {
  overflow-y: auto;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sectionLabel {
  display: block;
}

.fa-icon-black {
  color: black;
}

button.glyphicon-button:focus,
button.glyphicon-button:active:focus,
button.glyphicon-button.active:focus,
button.glyphicon-button.focus,
button.glyphicon-button:active.focus,
button.glyphicon-button.active.focus {
  outline: none !important;
}

button:focus,
button:active:focus {
  outline: none !important;
}
