@charset "utf-8";

@import '~semantic-ui-css/semantic.min.css';

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

$active-selection: #c0c1c2;

.tabs > ul > li > a {
  padding: 4px 10px;
  height: auto;
}

.tabs > ul {
  margin-bottom: 0px;
}

.ui.form .field {
  width: 100%;
}

.dropzone {
  min-height: 38px;
}
