/* Main CSS file */

@import '_example/_example.css';
@import url('https://fonts.googleapis.com/css?family=Heebo:700|Source+Sans+Pro:300,400,400i,600,700');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;

}

/* html,body {
   height: 100%;
   margin: 0;
   overflow: hidden;
} */

html {
    overflow-y: auto;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sectionLabel {
    display: block;
}

.fa-icon-black {
    color: black;
}

button.glyphicon-button:focus,
button.glyphicon-button:active:focus,
button.glyphicon-button.active:focus,
button.glyphicon-button.focus,
button.glyphicon-button:active.focus,
button.glyphicon-button.active.focus {
  outline: none !important;
}

button:focus, button:active:focus {
  outline: none !important;
}