@import './App.scss';

.tabSelect {
  width: 100%;
}

.btn-group {
  width: 100%;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  outline-style: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.removeAction i {
  color: red;
  // padding: 2px;
}

.ui .button .is-active {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.areaOfInterestList {
  border-right: 1px solid lightgrey;
  /* margin: 2px; */
  flex-grow: 1;
  min-width: 274px;
  max-width: 274px;
}

.areaOfInterestList h4.ant-typography {
  margin-bottom: 0px;
}

.areaOfInterestList h3 {
  padding: 3px;
  margin: 0px;
}

.areaOfInterestList h4.ant-list-item-meta-title {
  margin-left: 3px;
}

.areaOfInterestList .activeAoi {
  background-color: $primary-color;
}

.ant-modal-content .anticon.anticon-flag {
  font-size: 20px;
  margin-right: 4px;
}

.ui.button.addAoiButton {
  margin: 0px 0px;
}

h5.sectionLabel.title.is-5 {
  margin: 0px;
}

.ui.small.header.aoiName {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
}
.tabSelect {
  align-self: center;
  justify-self: center;
}

.areaOfInterestList > .header {
  display: flex;
  flex-direction: column;
  background: #eee;
  border-bottom: 1px #bbb solid;
  font-weight: 300;
  box-shadow: 0 1px 3px 0px rgba(100, 100, 100, 0.3);
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.areaOfInterestList > .header > .topRow {
  padding: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.areaOfInterestList > .header > .bottomRow {
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 4px;
}

.areaOfInterestList ul {
  list-style: none;
  padding-left: 0px;
}

.aoiListItem {
  padding: 4px 8px;
  border-bottom: 1px #dededf solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionLabel {
  margin-bottom: 0px;
  margin-top: 2px;
}

.aoiActionButton {
  cursor: pointer;
  color: #000;
  padding: 0px 4px;

  text-decoration: none;
  outline: none;
  background: none;
  border: none;
}

.aoiActionButton:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
}

.aoiActionButton:active {
  position: relative;
  top: 1px;
}

.aoiDeleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aoiDeleteButtons {
  /* flex-grow: 1; */
  transition: all 250ms linear;
}

.cancelButton {
  width: 50%;
  margin: 0px 2px;
}

.deleteButton {
  margin: 0px 2px;
}

.deleteWarning {
  margin-bottom: 0px;
  font-size: 1.3em;
  white-space: nowrap;
}
.popover {
  max-width: 400px;
}
.aoiDeletePopover {
}

.deleteButton {
  background: linear-gradient(to bottom, #eb4034 5%, #d4392f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #eb4034;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d4392f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}
.deleteButton:hover {
  background: linear-gradient(to bottom, #d4392f 5%, #eb4034 100%);
  background-color: #eb4034;
}
.deleteButton:active {
  position: relative;
  top: 1px;
}

.cancelButton {
  background: linear-gradient(to bottom, #e8e1e1 5%, #d1c9c9 100%);
  background-color: #e8e1e1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d1c9c9;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-size: 15px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}
.cancelButton:hover {
  background: linear-gradient(to bottom, #d1c9c9 5%, #e8e1e1 100%);
}
.cancelButton:active {
  position: relative;
  top: 1px;
}

.radioButtonLabel {
  margin-left: 3px;
}
