.areaOfInterestList {
    border-right: 1px solid lightgrey;
    /* margin: 2px; */
    flex-shrink: 1;
	min-width: 20%;
	max-width: 30%;

}

.areaOfInterestList > .header {
    padding: 4px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #eee;
	border-bottom: 1px #bbb solid;
	font-weight: 300;

}

.addAreaButton {

}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 10px;
    text-decoration:none;
    outline: none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position: relative;
	top: 1px;
}

.areaOfInterestList ul {
	list-style: none;
	padding-left: 0px;
}

.areaOfInterestList li {
	background: #eee;
}

.aoiListItem {
	padding: 4px 8px;
	/* border-bottom: 1px coral solid; */
	border-bottom: 2px #fff solid;
	font-weight: 600;
}