.areaOfInterestList {
    border-right: 1px solid lightgrey;
    /* margin: 2px; */
	width: 300px;
}

h5.sectionLabel.title.is-5 {
  margin: 0px;
}

.areaOfInterestList > .header {
    display: flex;
    flex-direction: column;
    background: #eee;
    border-bottom: 1px #bbb solid;
    font-weight: 300;
    box-shadow: 0 1px 3px 0px rgba(100, 100, 100, 0.3);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.areaOfInterestList > .header > .topRow {
  padding: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.areaOfInterestList > .header > .bottomRow {
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 4px;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 10px;
    text-decoration:none;
    outline: none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position: relative;
	top: 1px;
}

.areaOfInterestList ul {
	list-style: none;
	padding-left: 0px;
}

.areaOfInterestList li {
	background: #eee;
}

li .aoiListItem {
	padding: 4px 8px;
	/* border-bottom: 1px coral solid; */
	border: 2px #eee solid;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aoiListItem.altBackground {
  background: #dededf;
  border: 2px #dededf solid;
}

.aoiListItem.activeAOI {
	border: 2px cyan solid;
}

.aoiActionButton {
  cursor: pointer;
  color: #000;
  padding: 0px 4px;

  text-decoration:none;
  outline: none;
  background: none;
  border: none;
}


.aoiActionButton:hover {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
}

.aoiActionButton:active {
  position: relative;
  top: 1px;
}

.aoiDeleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aoiDeleteButtons {
  /* flex-grow: 1; */
  transition: all 250ms linear;
}

.cancelButton {
  width: 50%;
  margin: 0px 2px;
}

.deleteButton {
  width: 50%;
  margin: 0px 2px;
}

.deleteWarning {
  margin-bottom: 0px;
  font-size: 1.3em;
  font-weight: 600;
}