.filteringTools {
    display: flex;

    flex-shrink: 1;

    min-height: 75px;

    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

.controlGroup {
    display: flex;
    align-items: center;
}

.controlGroup2 {
    display: flex;
    align-items: center;
    min-width: 40%;
}


#cloudiness {
    min-width: 50%;
}