.mapViewer {
    flex-grow: 4;
    height: 100%;
    width: 100%;
    display: flex;
}

#map {
    background: lightcoral;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.layer-switcher {
    top: 4.5em;
    left: 0.5em;
    right: unset;
}

.layer-switcher .panel > ul {
    padding-left: 0px;
}