.jobViewer {
  height: 100%;
}
.jobViewerTable {
  //   overflow-y: scroll;
  margin: 0px 4px;
}

table {
  height: 100%;
}

tbody {
  height: 100%;
}

.jobViewer .jobsMainMenu {
  margin: 4px;
}

.ui.table > tfoot > tr > th {
  font-weight: 700;
}

.sen2agriJobManager .ui.header.medium {
  padding: 15px 10px;
  margin-bottom: 0px;
}
