.tileListItemCompact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tileListItemActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tileListItemLeft {
    display: flex;
    flex-direction: row;
}

.tileActionButton {
    cursor: pointer;
    color: #000;
    padding: 0px 4px;

    text-decoration:none;
    outline: none;
    background: none;
    border: none;
}


.tileActionButton:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);	
}

.tileActionButton:active {
    position: relative;
    top: 1px;
}

.jobSuccess {
    color: lightgreen;
}
.jobFailed {
    color: red;
}

.removeAction {
    color: red;
}

.nonvisibleIcon {
    color: gray;
    font-size: 12px;
    width: 25px;
}

.visibleIcon {
    color: lightgreen;
    font-size: 13px;
    width: 25px;
}


.tileListItem {
    padding: 6px 2px;
    border: 2px #eee solid;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #eee;
}

.altBackground {
    background: #dededf;
    border: 2px #dededf solid;
}

.activeSelection {
    border: 2px cyan solid;
}
